<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shoe List</title>
</head>
<body>
	<body>
    <h1>Shoe List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Size</th>
                <th>Color</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="shoe : ${shoes}">
                <td th:text="${shoe.id}"></td>
                <td th:text="${shoe.name}"></td>
                <td th:text="${shoe.brand}"></td>
                <td th:text="${shoe.size}"></td>
                <td th:text="${shoe.color}"></td>
                <td th:text="${shoe.price}"></td>
                <td th:text="${shoe.quantity}"></td>
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>