<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Purchase Report List</title>
</head>
<body>
	<body>
    <h1>Purchase Report List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Shoe ID</th>
                <th>Purchase Date</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="report : ${reports}">
                <td th:text="${report.id}"></td>
                <td th:text="${report.shoeId}"></td>
                <td th:text="${report.purchaseDate}"></td>
                <td th:text="${report.quantity}"></td>
                <td th:text="${report.totalPrice}"></td>
                <td th:text="${report.category}"></td>
            </tr>
        </tbody>
    </table>
</body>
</body>
</html>